@import "_variables.scss";

.button {
  background: none;
  border: 0.25rem solid;
  font: inherit;
  line-height: 1;
  margin: 2rem;
  padding: 2.25rem 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 525;

  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.firstbutton:hover,
.firstbutton:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2rem color(black);
}
