html,
body {
  font-size: 63.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  red: #d32f2f,
  blue: #00bcd4,
  black: #212121,
  green: #4caf50,
  orange: #ff5722,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
