@import "_buttons.scss";
@import "_variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  //px are no bueno, rem are relative units, 1 rem = 10px,vh or  viewport height, vw or viewport width
}

$colors: (
  red: #d32f2f,
  blue: #00bcd4,
  black: #212121,
  green: #4caf50,
);

@function color($color-name) {
  @function map-get($colors, $color-name);
}
